<%= div_for evaluation do %>
    <p>
      <%=link_to h(evaluation.name), evaluation_path(evaluation.id), class: "evaluation" %>
      <ul>
        <%= link_to "Take Evaluation", new_response_set_path(evaluation_id: evaluation.id) %>
      </ul>
    </p>
<% end %>
