<%= div_for evaluation do %>
    <p>
      <%=link_to h(evaluation.name), course_evaluation_path(evaluation.course,evaluation.id), class: "evaluation" %>
      <ul>
        <%= link_to "Take Evaluation", new_evaluation_response_set_path(evaluation) %>
      </ul>
    </p>
<% end %>
