<% if notice %>
  <div id="notice"><%= notice %></div><br/>
<% end %>

<div id="login_left">
    <%= link_to "Students", new_user_session_path %>
</div>

<div id="login_right">
    <%= link_to "Instructors", new_instructor_session_path %>
</div>
