<% if notice %>
  <div id="notice"><%= notice %></div><br/>
<% end %>

<table align="center" class="tablelinks">

<tr><td colspan="3"><h2>Sign in as:</h2><br/></td></tr>

<tr>
<td><input style="width:200px;margin-right:50px;" class="mybutton" onClick="parent.location='/users/sign_in'" type="button" value="Student"></td>
<td><input style="width:200px;margin-right:50px;" class="mybutton" onClick="parent.location='/instructors/sign_in'" type="button" value="Professor"></td>
<td><input style="width:200px;" class="mybutton" onClick="parent.location='/admins/sign_in'" type="button" value="Site Admin"></td>
</tr>

<!--<tr><td><a href="/departments">Department</a></td><td><a href="/professors">Professor</a></td></tr>-->

</table>

