<h1>All departments</h1>

<table>
  <tr>
    <th>Departments</th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= link_to department.name, department%></td>
    <% if admin_signed_in? %>
      <td><%= link_to 'Edit', edit_department_path(department) %></td>
      <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <td><td/>
      <td><td/>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin_signed_in? %>
  <%= link_to 'New Department', new_department_path %>
<% end %>
