


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%@letter=params[:letter]%>
<%@search=params[:search]%>




	<% @professors.each do |professor| %>
  	    <%if (params[:search]||params[:letter])&&@letter!="All" %>
		<%if params[:search]%>
			<%next if !professor.name.downcase.index(params[:search].downcase)%>
		<%else%>
			<%next if professor.name[0].upcase!=@letter%>
		<%end%>
  	    <%end%>
	  <tr>
	    <td><%= link_to professor.name, professor %></td>

    	<% if admin_signed_in? %>
	    <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
	    <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
	  </tr>
	<% end %>
	</table>
	<br />
    	<% if admin_signed_in? %>
		<%= link_to 'New Professor', new_professor_path %>
	<%end%>



