// Place all the styles related to the Departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .table_dept {
    border-collapse: collapse;
    margin-left:80px;

  }



  .title{
    padding: 10px;
    font-family: arial;
    font-size: 20pt;
    font-weight: bold;
  }

  tr td{
    padding-top:.10em;
    padding-bottom:.20em;
  }
  .list_name {
    width:300px;

    A:link{color:#ffffff;}
    A:visited{color:#ffffff;text-decoration:none}

    font-family: arial;

    border-radius: 5px;

    font-weight: bold;
    padding: 10px;
    font-size: medium;
  }



  .list_line_even {

    background: #E00000;

    A:hover{text-decoration:underline ;color:#989898;background:none;}
    opacity:.9;
  }
  .list_line_odd {
    background: #989898;
    A:hover{text-decoration:underline ;color:#E00000;background:none;}
    opacity:.9;
  }



