// Place all the styles related to the Departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .table_dept {
    border-collapse: collapse;
    margin-left:80px;

  }



  .title{
    padding: 10px;
    font-family: arial;
    font-size: 20pt;
    font-weight: bold;
  }

  tr td{
    padding-top:.10em;
    padding-bottom:.20em;
  }
  .list_name {
    width:300px;

    A:link{color:#ffffff;}
    A:visited{color:#ffffff;text-decoration:none}

    font-family: arial;

    border-radius: 5px;

    font-weight: bold;
    padding: 10px;
    font-size: medium;
  }

.prof_name_department{
vertical-align:center;
width:440px;
border-collapse:collapse;
td{
border-radius:7px;
}
h2{padding-bottom:10px;
padding-top:10px;
margin:0px;}
}

.table_courses{
opacity:.8;
width:370px; 
margin-top:15px; 
border-radius:7px; 
background-color:#b5b5b5; 
margin-left:70px;}

.table_course_listing{
opacity:.8;
width:700px; 
margin-top:15px; 
border-radius:7px; 
background-color:#b5b5b5; 
margin-left:70px;}

.table_course_cells{
padding-right:30px;
padding-left:30px;
padding-bottom:10px;
padding-top:15px;
font-family:arial;
font-size:medium;

a{padding-left:0;font-family:arial;font-size:medium;margin-left:0;}}


  .list_line_even {

    background: #E00000;

    A:hover{text-decoration:underline ;color:#989898;background:none;}
    opacity:.9;
  }
  .list_line_odd {
    background: #989898;
    A:hover{text-decoration:underline ;color:#E00000;background:none;}
    opacity:.9;
  }



.table_statistics{
opacity:.8;
width:370px; 
margin-top:15px; 
border-radius:7px; 
background-color:#b5b5b5; 
margin-left:70px;}

.table_statistic_listing{
opacity:.8;
width:700px; 
margin-top:15px; 
border-radius:7px; 
background-color:#b5b5b5; 
margin-left:70px;}

.table_course_cells{
padding-right:30px;
padding-left:30px;
padding-bottom:10px;
padding-top:15px;
font-family:arial;
font-size:medium;

a{padding-left:0;font-family:arial;font-size:medium;margin-left:0;}}


  .list_line_even {

    background: #E00000;

    A:hover{text-decoration:underline ;color:#989898;background:none;}
    opacity:.9;
  }
  .list_line_odd {
    background: #989898;
    A:hover{text-decoration:underline ;color:#E00000;background:none;}
    opacity:.9;
  }

