// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_left {
    float: left;
    width: 50%;
    text-align: center;
}

#login_right {
    float: right;
    width: 50%;
    text-align: center;
}

.tablelinks{
	float: middle;}

h2{margin:0;
color:black;}

.mybutton {

	background:#25A6E1;
	background:-moz-linear-gradient(top,#E60000 0%,#919191 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#E60000),color-stop(100%,#919191));
	background:-webkit-linear-gradient(top,#E60000 0%,#919191 100%);
	background:-o-linear-gradient(top,#E60000 0%,#919191 100%);
	background:-ms-linear-gradient(top,#E60000 0%,#919191 100%);
	background:linear-gradient(top,#E60000 0%,#919191 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E60000',endColorstr='#919191',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'arial';
	font-size:20px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:0px solid white
}
.mybutton:hover{
	padding:6px 11px;
	background:-moz-linear-gradient(top,#E60000 50%,#919191 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#E60000),color-stop(100%,#919191));
	background:-webkit-linear-gradient(top,#E60000 0%,#919191 100%);
	background:-o-linear-gradient(top,#E60000 0%,#919191 100%);
	background:-ms-linear-gradient(top,#E60000 0%,#919191 100%);
	background:linear-gradient(top,#E60000 0%,#919191 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E60000',endColorstr='#919191',GradientType=0);
	border:2px solid;
	border-color:black;

}


